.advantages {
  text-align: center;
}

.advantages__slogan {
  padding-top: 45px;
  padding-bottom: 55px;
}

.advantages__question {
  font-size: 24px;
  margin: 0;
  padding-bottom: 45px;
}

.advantages__answer {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.advantages__list {
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 325px;
}

.advantages__item {
  max-width: 280px;
  margin: 0 auto 0 auto;
  padding-bottom: 40px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
