.advantages {
  text-align: center;
}

.advantages__slogan {
  padding-top: 40px;
}

.advantages__question {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 30px;
}

.advantages__answer {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  padding: 0;
}

.advantages__wrapper {
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center 0;
  background-repeat: no-repeat;
}

.advantages__list {
  padding-top: 113px;
  padding-bottom: 287px;
  display: flex;
  flex-direction: column;
}

.advantages__item {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 31px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__slogan {
    padding-top: 58px;
  }

  .advantages__question {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .advantages__answer {
    font-size: 40px;
    width: 340px;
    line-height: 48px;
  }

  .advantages__container {
    display: flex;
    justify-content: flex-end;
  }

  .advantages__list {
    padding-top: 95px;
    width: 310px;
    padding-bottom: 9px;
  }

  .advantages__item {
    text-align: left;
    width: 310px;
    margin: 0;
    padding-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan {
    padding-top: 83px;
  }

  .advantages__question {
    font-size: 50px;
    padding-bottom: 14px;
  }

  .advantages__answer {
    font-size: 50px;
    width: 420px;
    line-height: 60px;
  }

  .advantages__wrapper {
    margin-top: 53px;
  }

  .advantages__container {
    justify-content: center;
  }

  .advantages__list {
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
    padding-top: 354px;
  }

  .advantages__title {
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    width: 221px;
    padding-bottom: 24px;
  }

  .advantages__item {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 282px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    width: 240px;
  }
}
