.app {
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.app__list {
  display: flex;
  justify-content: space-between;
  width: 204px;
  padding-top: 33px;
  align-items: center;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .app {
    background: none;
  }

  .intro-index__container {
    display: flex;
    justify-content: flex-start;
  }

  .app__list {
    padding-top: 46px;
    padding-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .app__list {
    padding-top: 69px;
    padding-bottom: 47px;
  }
}
