.communication {
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 40px;
}

.communication__title {
  display: block;
}

.communication__label-up {
  color: #d22856;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 22px;
  padding-bottom: 5px;
}

.communication__label-down {
  display: none;
}

.communication__input {
  width: 280px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  background-color: #f6f6f6;
  color: #283645;
  margin-bottom: 17px;
  padding: 14px 0 15px 0px;
  width: 100%;
}

.communication__input:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .communication {
    order: 2;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    margin: 57px 20px 57px 20px;
    padding: 0 58px;
  }

  .communication__title {
    display: table;
    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 37px;
    width: 260px;
  }
  .communication__label-up {
    display: none;
  }

  .communication__label-down {
    display: inline;
    color: #d22856;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 19px;
    padding-bottom: 29px;
  }

  .communication__input {
    margin-bottom: 10px;
  }

  .communication__label-down:last-child {
    padding-bottom: 26px;
  }
}
