.comment {
  background-color: #f2f2f2;
  width: 280px;
  text-align: left;
}

.comment__row {
  display: flex;
  padding-top: 18px;
}

.comment__name {
  font-size: 14px;
  font-weight: 700;
  color: #283645;
  margin: 0;
  padding-left: 17px;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-left: 4px;
}

.comment__text {
  font-weight: 400;
  margin: 0;
  padding-left: 17px;
}

.comment__like {
  text-transform: uppercase;
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 20px 50px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    top: 16px;
    left: 18px;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    width: 300px;
    margin-top: 120px;
    /* <<<<<<<<<<<<<<<временная заглушка */
  }

  .comment__row {
    padding-top: 24px;
  }

  .comment__name {
    padding-left: 27px;
  }

  .comment__text {
    padding-left: 27px;
    width: 235px;
    height: 50px;
  }

  .comment__like {
    padding-top: 11px;
    padding-left: 27px;
    padding-bottom: 22px;

    &::before {
      left: 256px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin-top: 220px;
    /* <<<<<<<<<<<<<<<временная заглушка */
  }
}
