.comment {
  background-color: #f2f2f2;
  width: 280px;
  text-align: left;
}

.comment__row {
  display: flex;
  padding-top: 18px;
}

.comment__name {
  font-size: 14px;
  font-weight: 700;
  color: #283645;
  margin: 0;
  padding-left: 17px;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-left: 4px;
}

.comment__text {
  font-weight: 400;
  margin: 0;
  padding-left: 17px;
}

.comment__like-wrapper {
  display: flex;
  justify-content: space-between;
  width: 139px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.comment__like-wrapper--1 {
  width: 124px;
}

.comment__like-wrapper--4 {
  width: 145px;
}

.comment__like {
  text-transform: uppercase;
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  position: relative;
}

.comment__heart {
  padding-left: 18px;
}

@media (min-width: $tablet-width) {
  .comment {
    width: 300px;
  }

  .comment__row {
    padding-top: 24px;
  }

  .comment__name {
    padding-left: 27px;
  }

  .comment__text {
    padding-left: 27px;
    width: 235px;
    height: 50px;
  }

  .comment__like-wrapper {
    width: 240px;
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 22px;
  }

  .comment__like {
    order: 1;
  }

  .comment__heart {
    order: 2;
  }
}
