.communication {
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 27px;
  padding-bottom: 12px;
}

.communication__title {
  display: none;
}

.communication__column {
  padding-bottom: 12px;
}

.communication__label {
  color: #d22856;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 22px;
}

.communication__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  background-color: #f6f6f6;
  color: #283645;
  margin-bottom: 22px;
  padding: 14px 20px 15px 20px;
  width: 100%;
  box-sizing: border-box;
}

.communication__input:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .communication {
    order: 2;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    margin: 57px 20px 57px 20px;
    padding: 0 58px;
  }

  .communication__title {
    display: table;
    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 37px;
    width: 260px;
  }

  .communication__column {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .communication__column:last-child {
    padding-bottom: 22px;
  }

  .communication__label {
    order: 2;
    padding-left: 19px;
    padding-top: 4px;
  }

  .communication__label-up {
    display: none;
  }

  .communication__label-down {
    display: inline;
    color: #d22856;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 19px;
  }

  .communication__input {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .communication {
    margin-top: 3px;
    margin-right: 0;
    margin-left: 0;
    flex-wrap: wrap;
    margin-bottom: 57px;
  }

  .communication__row {
    display: flex;
    justify-content: space-between;
  }

  .communication__column {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .communication__label {
    padding-top: 15px;
    line-height: 15px;
  }

  .communication__title {
    margin-bottom: 34px;
  }

  .communication__input {
    width: 375px;
  }

  .communication__label-down:last-child {
    padding-bottom: 13px;
  }
}
