.developers {
  margin: 0 auto;
  display: flex;
  padding-top: 31px;
  justify-content: space-between;
  width: 131px;
  padding-bottom: 35px;
  align-items: center;
}

.developers:hover .developers__logo-image {
  fill: #283645;
}

.developers:active .developers__logo-image {
  fill: #283645;
  opacity: 0.3;
}

.developers__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645;
}

.developers__logo-image {
  fill: #d22856;
}

@media (min-width: $tablet-width) {
  .developers {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14px;
    padding-top: 11px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .developers {
    width: 153px;
    margin-left: 0;
  }

  .developers__text {
    font-size: 18px;
  }
}
