.developers {
  margin: 0 auto;
  display: flex;
  padding-top: 43px;
  justify-content: space-between;
  width: 131px;
  padding-bottom: 35px;
}

.developers__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: $desktop-width) {
  .developers {
    margin: 0;
    width: auto;
  }

  .developers__text {
    font-size: 18px;
  }
}
