.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    background-color: #ffffff;
  }

  .effect__wrapper {
    width: 310px;
  }

  .effect__container {
    display: flex;
    justify-content: flex-end;
  }

  .effect__title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    text-align: left;
    padding-top: 96px;
    width: 170px;
    line-height: 36px;
  }

  .effect__description {
    font-weight: 400;
    color: #283645;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    padding-right: 14px;
  }

  .effect__link {
    color: #d22856;
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__title {
    line-height: 30px;
    padding-top: 117px;
    width: 300px;
  }

  .effect__wrapper {
    width: 574px;
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
    padding-top: 24px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 114px;
  }
}
