.effect {
  display: none;
}

.effect__time {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    background-color: #ffffff;
  }

  .effect__wrapper {
    width: 310px;
  }

  .effect__container {
    display: flex;
    justify-content: space-between;
  }

  .effect__time {
    display: block;
    font-size: 96px;
    line-height: 150px;
    font-weight: 700;
    color: #d22856;
    margin-top: 128px;
    margin-left: 31px;
    width: 176px;
    height: 168px;
    padding-top: 8px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 346px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      top: -69px;
      left: -31px;
      width: 240px;
    }

    &::after {
      position: absolute;
      content: "";
      height: 346px;
      background-image: url("../img/icon-editor-diagram-fill.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      top: -13px;
      left: -12px;
      width: 202px;
    }
  }

  .effect__title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    text-align: left;
    padding-top: 96px;
    width: 170px;
    line-height: 36px;
  }

  .effect__description {
    font-weight: 400;
    color: #283645;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 11px;
  }

  .effect__description--transfer-2 {
    display: none;
  }

  .effect__link {
    color: #d22856;
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__title {
    line-height: 30px;
    padding-top: 117px;
    width: 300px;
  }

  .effect__title br {
    display: none;
  }

  .effect__wrapper {
    width: 574px;
  }

  .effect__time {
    font-size: 120px;
    margin-top: 109px;
    margin-left: 39px;
    width: 219px;
    height: 193px;
    padding-top: 27px;
    margin-bottom: 0;

    &::before {
      position: absolute;
      content: "";
      width: 299px;
      height: 346px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      top: -86px;
      left: -39px;
    }

    &::after {
      position: absolute;
      content: "";
      height: 346px;
      background-image: url("../img/icon-editor-diagram-fill.svg");
      background-repeat: no-repeat;
      top: -17px;
      left: -16px;
      width: 254px;
    }
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 0;
  }

  .effect__description--transfer-1 {
    display: none;
  }

  .effect__description--transfer-2 {
    display: inline;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 114px;
  }
}
