.emotion {
  border: none;
  padding-bottom: 41px;
}

.emotion__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 38px 0 17px 0;
  color: #d22856;
  text-transform: uppercase;
}

.emotion__text {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 201px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  box-sizing: border-box;
  padding: 14px 24px 14px 16px;
  font-family: "Open Sans", sans-serif;

  &:hover,
  &:focus {
    border-color: #283645;
    outline: none;
  }

  &:focus {
    border-color: #d22856;
  }
}

@media (min-width: $tablet-width) {
  .emotion {
    order: 4;
    border: 2px solid #e5e5e5;
    margin-top: 57px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding-left: 58px;
    padding-right: 66px;
    padding-bottom: 44px;
  }

  .emotion__title {
    padding: 0;
    width: 260px;
    margin-bottom: 37px;
  }

  .emotion__text {
    height: 193px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .emotion {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 36px;
  }

  .emotion__title {
    margin-bottom: 34px;
  }

  .emotion__text {
    height: 128px;
  }
}
