.feedback {
  background-color: #ffffff;
  color: #283645;
  text-align: center;
}

.feedback__wrapper {
  width: 280px;
  margin: 0 auto;
}

.feedback__list {
  margin-top: 42px;
  margin-bottom: 26px;
}

.feedback__author-name {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 13px;
}

.feedback__author-work {
  display: none;
}

.feedback__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.feedback__input-1--check:checked ~ .slider__list .slider__item-1,
.feedback__input-2--check:checked ~ .slider__list .slider__item-2,
.feedback__input-3--check:checked ~ .slider__list .slider__item-3 {
  display: flex;
  flex-direction: column;
}

.feedback__input-1--check:checked ~ .slider__control label[for="feedback-1"],
.feedback__input-2--check:checked ~ .slider__control label[for="feedback-2"],
.feedback__input-3--check:checked ~ .slider__control label[for="feedback-3"] {
  background-color: transparent;
  border: 3px solid #283645;
}

.feedback__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    width: 630px;
  }

  .feedback__list {
    margin-top: 21px;
  }

  .feedback__item {
    flex-direction: column;
  }

  .feedback__author-name {
    order: 2;
    font-size: 20px;
    line-height: 30px;
    padding-top: 35px;
    padding-bottom: 2px;
  }

  .feedback__text {
    font-size: 18px;
    line-height: 30px;
  }

  .feedback__author-work {
    display: block;
    order: 3;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrapper {
    width: 690px;
    position: relative;
  }

  .feedback__list {
    margin-top: 185px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      width: 81px;
      height: 66px;
      transform: translateX(-50%);
      top: -112px;
    }
  }

  .feedback__author-name {
    font-size: 24px;
  }

  .feedback__author-work {
    font-size: 18px;
  }

  .slider__control {
    display: none;
  }

  .feedback__btn {
    background-color: transparent;
    border: none;
    height: 42px;
    width: 22px;
    cursor: pointer;
  }

  .feedback__prev {
    position: absolute;
    top: 28px;
    left: -125px;
    background-image: url("../img/icon-review-arrow-left.svg");
  }

  .feedback__next {
    position: absolute;
    top: 28px;
    right: -125px;
    background-image: url("../img/icon-review-arrow-right.svg");
  }
}
