.form {
  border: 0;
  margin: 0;
  padding-bottom: 24px;
}

.form__label {
  color: #d22856;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 22px;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 17px;
}

.form__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  background-color: #f6f6f6;
  color: #283645;
  padding: 14px 20px 15px 20px;
  width: 100%;
  box-sizing: border-box;
}

.form__row {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 6px;
    order: 0;
  }

  .form__row {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 52px;
  }

  .form__label {
    padding-left: 0;
    padding-right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0;
    width: 435px;
  }

  .form__row {
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
