.intro-photo {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.intro-photo__slogan {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 83px;
  margin: 0 auto;
  line-height: 29px;
  width: 171px;
}

@media (min-width: $tablet-width) {
  .intro-photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .intro-photo__slogan {
    font-size: 50px;
    line-height: 59px;
    padding-top: 137px;
    padding-bottom: 141px;
    width: 358px;
  }
}

@media (min-width: $desktop-width) {
  .intro-photo {
    background-size: cover;
  }

  .intro-photo__slogan {
    padding-top: 174px;
    width: 356px;
    padding-bottom: 102px;
  }
}
