.intro-form {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #2c3949;
}

.intro-form__slogan {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 85px;
  max-width: 280px;
  margin: 0 auto;
}
