.intro-index {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 290px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    top: 176px;
    right: 0;
  }
}

.intro-index__header {
  padding-top: 90px;
  padding-bottom: 315px;
}

.intro-index__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
  width: 230px;
}

.intro-index__app-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 14px 35px 17px 36px;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin-top: 28px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #d22856;
    outline: none;
  }

  &:active {
    color: rgba(344, 81, 82, 0.3);
    outline: none;
  }
}

.intro-index__availability {
  color: #ffffff;
  width: 230px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .intro-index {
    background-color: #1d2631;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 729px;
    margin-top: -111px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &::after {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      width: 659px;
      height: 545px;
      top: 184px;
      right: 21px;
      z-index: 1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  .intro-index__container {
    display: flex;
    justify-content: flex-start;
  }

  .intro-index__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
  }

  .intro-index__header {
    background: none;
    padding-top: 202px;
    padding-bottom: 0;
    width: 300px;
  }

  .intro-index__slogan {
    font-size: 40px;
    line-height: 49px;
  }

  .intro-index__app-link {
    padding: 16px 45px;
    margin-top: 28px;
  }

  .intro-index__availability {
    font-size: 18px;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .intro-index {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 854px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }

    &::after {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      width: 884px;
      height: 644px;
      top: 210px;
      right: 170px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }

  .intro-index__header {
    padding-top: 220px;
  }

  .intro-index__slogan {
    font-size: 50px;
    line-height: 59px;
    width: 238px;
  }

  .intro-index__app-link {
    font-size: 21px;
    line-height: 18px;
    padding: 15px 28px;
    margin-top: 53px;
  }
}
