.intro-index {
  background-color: #1d2631;
}

.intro-index__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  padding-top: 23px;
  padding-bottom: 315px;
}

.intro-index__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
  width: 230px;
}

.intro-index__app-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 14px 35px 17px 36px;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin-top: 28px;
}

.intro-index__availability {
  color: #ffffff;
  width: 230px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .intro-index {
    background-color: #1d2631;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 619px;
  }

  .intro-index__container {
    display: flex;
    justify-content: flex-start;
  }

  .intro-index__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-index__header {
    background: none;
    padding-top: 91px;
    padding-bottom: 0;
    width: 300px;
  }

  .intro-index__slogan {
    font-size: 40px;
    line-height: 49px;
  }

  .intro-index__app-link {
    padding: 16px 45px;
    margin-top: 29px;
  }

  .intro-index__availability {
    font-size: 18px;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .intro-index {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 854px;
  }

  .intro-index__header {
    padding-top: 220px;
  }

  .intro-index__slogan {
    font-size: 50px;
    line-height: 59px;
  }

  .intro-index__app-link {
    font-size: 21px;
    line-height: 18px;
    padding: 15px 28px;
    margin-top: 53px;
  }
}
