.intro-photo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #2c3949;
}

.intro-photo__slogan {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 83px;
  margin: 0 auto;
  line-height: 29px;
}

@media (min-width: $tablet-width) {
  .intro-photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .intro-photo__slogan {
    font-size: 50px;
    line-height: 59px;
    padding-top: 71px;
    padding-bottom: 141px;
  }
}

@media (min-width: $desktop-width) {
  .intro-photo {
    background-size: cover;
  }

  .intro-photo__slogan {
    padding-top: 181px;
    width: 356px;
    padding-bottom: 102px;
  }
}
