.intro-index__slogan {
  font-size: 24px;
  font-weight: 300;
  background-color: #2c3949;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 320px;
  margin: 0;
}

.intro-index__app-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 17px;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin-top: 30px;
}

.intro-index__availability {
  color: #ffffff;
  padding-top: 30px;
  max-width: 230px;
  text-align: center;
}
