.main-nav {
  background-color: #283645;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  height: 60px;
  background-color: rgba(40, 54, 69, 0);
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: #624530;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-menu-cross.svg");
  background-position-x: 17px;
  background-position-y: 21px;
  background-repeat: no-repeat;
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: inherit;
  }
}
