.main-nav {
  background-color: #283645;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main-nav__toggle {
  outline: none;
  background: none;
  position: absolute;
  border: none;
  right: 37px;
  top: -49px;

  &:hover .main-nav__toggle-icon {
    fill: #d22856;
    opacity: 1;
  }

  &:active .main-nav__toggle-icon {
    fill: #d22856;
    opacity: 0.3;
  }
}

.main-nav__toggle-icon {
  position: absolute;
  z-index: 2;
  display: block;
  background-color: rgba(40, 54, 69, 0);
  cursor: pointer;
  border: none;
  width: 23.867px;
  height: 23.867px;
  fill: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: -66px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: inherit;
  }

  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}
