.map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 52px;
  }
}

.map__wrapper {
  margin: 0;
  height: 219px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.map__interectiv {
  width: 100%;
  height: 208px;
  border: 0;
}

.map__wrapper picture {
  margin: 0 auto;
}

.map__image {
  margin-top: -426px;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    height: 402px;

    &::before {
      height: 100%;
      background-size: contain;
    }

    &::after {
      top: 239px;
    }
  }

  .map {
    &::before {
      height: 96px;
    }
  }

  .map__interectiv {
    height: 402px;
  }

  .map__image {
    margin-top: -319px;
    margin-left: -7px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    height: 523px;

    &::before {
      height: 100%;
      background-size: contain;
    }

    &::after {
      top: 302px;
    }
  }

  .map {
    &::before {
      height: 124px;
    }
  }

  .map__interectiv {
    height: 523px;
  }

  .map__image {
    margin-top: -256px;
    margin-left: 0;
  }
}
