.page-footer--disabled {
  display: none;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
}

.page-footer__logo {
  margin: 0 auto;
}

.page-footer__image-mobile {
  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

.page-footer__image-desktop {
  display: none;
  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer--disabled {
    display: block;
  }

  .page-footer {
    background-color: #ffffff;
    display: block;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 38px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__logo--deactive {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 35px;
  }

  .page-footer__logo {
    margin-top: 0;
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .page-footer__image-mobile {
    display: none;
  }

  .page-footer__image-desktop {
    display: block;
  }
}
