.page-footer {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    background-color: #ffffff;
    display: block;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}
