.page-header {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  height: 70px;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    height: 110px;
  }
  .page-header__logo {
    width: 170px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }
}
