.page-header {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #283645;
}

.page-header__logo {
  height: 69px;
  text-align: left;
  align-content: center;
  display: flex;
  background-color: #283645;
  width: 74px;
  margin-left: 21px;
}

.page-header__image-mobile {
  fill: #ffffff;
  padding-top: 21px;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

.page-header__image-tablet {
  display: none;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

.page-header__image-desktop {
  display: none;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #d22856;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 83px;
    width: 147px;
    padding-top: 27px;
  }

  .page-header__image-mobile {
    display: none;
  }

  .page-header__image-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    height: 110px;
    z-index: 3;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
  }

  .page-header__logo {
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  .page-header__image-mobile {
    display: none;
  }

  .page-header__image-tablet {
    display: none;
  }

  .page-header__image-desktop {
    display: block;
  }
}
