.panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
}

.panorama__title {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  background-color: #d22856;
  color: #ffffff;
  padding: 6px 20px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px;
}

.panorama__image-wrapper {
  margin: 0;
  line-height: 0;
  width: 320px;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.panorama__image {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .panorama {
    padding-bottom: 50px;
  }

  .panorama__title {
    top: 57px;
  }

  .panorama__image-wrapper {
    height: 509px;
    width: 660px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .panorama__image {
    width: auto;
  }

  .panorama__comment {
    width: 620px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .panorama__row {
    padding-top: 24px;
    order: 1;
  }

  .panorama__name {
    padding-left: 27px;
  }

  .panorama__text {
    padding-left: 27px;
    width: 515px;
    order: 3;
    padding-bottom: 22px;
  }

  .panorama__like-wrapper {
    order: 2;
    padding-right: 29px;
    padding-top: 25px;
    padding-bottom: 0;
    width: 120px;
    margin-right: 0;
  }
}


@media (min-width: $desktop-width) {
  .panorama__image-wrapper {
    height: 506px;
  }

  .panorama__comment {
    width: 940px;
  }

  .panorama__title {
    top: 54px;
    right: 130px;
  }

  .panorama__text {
    width: 870px;
    height: auto;
    padding-bottom: 23px;
  }

  .panorama__like-wrapper {
    padding-right: 0;
    width: 175px;
    width: 151px;
  }

  .panorama__like {

  }

  .panorama__heart {
    margin-right: 9px;
    padding-left: 0;
    margin-right: 32px;
  }
}
