.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.posts__list {
  padding-bottom: 42px;
}

.posts__item {
  padding-bottom: 20px;
}

.posts__item:last-child {
  padding-bottom: 0;
}

.posts__slogan {
  padding-bottom: 50px;
  width: 280px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .posts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 45px;
  }

  .posts__slogan {
    font-size: 18px;
    width: 430px;
    padding-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .posts__list {
    padding-bottom: 5px;
  }

  .posts__item {
    padding-bottom: 54px;
  }

  .posts__slogan {
    padding-bottom: 67px;
  }
}
