.price {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center -267px;
  overflow: hidden;
  width: 2000px;
  flex-direction: column;
}

.price__list {
  border-collapse: collapse;
  margin-top: 133px;
  position: relative;
  overflow: hidden;
  left: -535px;
  width: 1112px;
  margin-bottom: 98px;
}

.price__title {
  height: 95px;
  background-color: #283645;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #283645;

  &:nth-child(2) {
    border-left: 2px solid #283645;
  }

  &:last-child {
    border-right: 2px solid #283645;
  }
}

.price__title span {
  font-size: 24px;
  font-weight: 300;
}

.prise__hit {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.price__cell {
  border: 2px solid #e5e5e5;
  height: 61px;
  width: 235px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  text-align: left;
  padding-left: 21px;
  box-sizing: border-box;
}

.price__cell span {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}

.price__include {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: 227px center;
}

.price__not-include {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 230px center;
}

@media (min-width: $tablet-width) {
  .price {
    background-position: center -152px;
    width: auto;
    align-items: center;
  }

  .price__list {
    width: auto;
    margin-top: 110px;
    margin-bottom: 68px;
    position: initial;
  }

  .price__cell {
    width: 154px;
    height: 47px;
    font-size: 14px;
    padding-left: 14px;
  }

  .price__cell span {
    display: none;
  }

  .price__title {
    font-size: 16px;
    height: 71px;
    padding-top: 5px;
    line-height: 28px;
  }

  .price__title span {
    font-size: 18px;
  }

  .price__include {
    background-size: 21%;
    background-position: center center;
  }

  .price__not-include {
    background-size: 19%;
    background-position: center center;
  }
}

@media (min-width: $desktop-width) {
  .price {
    background-position: center -200px;
    padding-top: 33px;
  }

  .price__list {
    width: 940px;
    margin-top: 157px;
    margin-bottom: 95px;
  }

  .price__title {
    height: 90px;
    color: #ffffff;
    font-size: 18px;
    line-height: 31px;
  }

  .price__title span {
    font-size: 24px;
  }

  .price__cell {
    height: 61px;
    width: 235px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 21px;
  }

  .price__include {
    background-size: 14%;
  }

  .price__not-include {
    background-size: 12%;
  }
}
