.progress {
  border: 0;
  margin: 0;
  padding-bottom: 47px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.progress__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  color: #d22856;
  text-transform: uppercase;
  position: relative;
  top: 56px;
}

.progress__list {
  width: 280px;
  margin: 0 auto;
  text-align: left;
  padding-top: 99px;
}

.progress__item {
  padding-bottom: 52px;
}

.progress__item:last-child {
  padding-bottom: 0;
}

.progress__label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 69px;
  display: inline-block;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    border: 2px solid #e5e5e5;
  }

  &:hover::before,
  &:focus::before {
    border-color: #000000;
  }

  &:active::before {
    border-color: #d22856;
  }
}

.progress__input {
  display: none;
}

.progress__input:checked + .progress__label::before {
  content: "";
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .progress {
    order: 3;
    border: 2px solid #e5e5e5;
    margin: 0 20px;
    background-color: #ffffff;
    padding-bottom: 43px;
  }

  .progress__title {
    width: 436px;
    margin-bottom: 48px;
    top: 0;
  }

  .progress__list {
    padding-left: 30px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .progress__item {
    padding-bottom: 52px;
  }

  .progress__label {
    &::before {
      left: 8px;
      bottom: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .progress {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .progress__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    height: 129px;
    padding-bottom: 0;
    padding-left: 51px;
    padding-right: 11px;
  }

  .progress__item {
    padding-bottom: 16px;
  }

  .progress__item:last-child {
    padding-bottom: 16px;
  }

  .progress__label {
    padding-left: 66px;
  }
}
