.slider__item {
  display: none;
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 74px;
}

.slider__control label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #7e868f;
    outline: none;
  }

  &:active {
    background-color: #e9ebec;
    outline: none;
  }
}
