.slider__item {
  display: none;
}

.slider__control label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}

