.social__list {
  display: flex;
  justify-content: space-between;
  width: 177px;
  padding-top: 33px;
}

.social__link {
  display: block;
  text-align: center;
  background-color: transparent;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  padding-top: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 11px;
  }
}
