.ver-app {
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 46px;
  background-color: #f2f2f2;
  position: relative;
}

.ver-app__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 218px;
  margin: 0;
  color: #d22856;
  text-transform: uppercase;
  position: relative;
  top: 56px;
}

.ver-app__list {
  text-align: left;
  padding-top: 95px;
}

.ver-app__item {
  padding-bottom: 45px;
}

.ver-app__item:last-child {
  padding-bottom: 0;
}

.ver-app__label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 69px;
  color: #283645;
  display: inline-block;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border-color: #000000;
  }

  &:active::before {
    border-color: #d22856;
  }
}

.ver-app__input:checked+.ver-app__label::before {
  content: "";
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: -1px 0;
}

.ver-app__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .ver-app {
    order: 1;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    margin: 0 20px;
  }

  .ver-app__title {
    width: 370px;
    top: 0;
  }

  .ver-app__list {
    padding-top: 48px;
    padding-bottom: 13px;
  }

  .ver-app__label {
    padding-left: 97px;

    &::before {
      left: 39px;
      bottom: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .ver-app {
    margin: 0;
    padding: 0;
    width: 431px;
    height: 305px;
  }

  .ver-app__title {
    width: 367px;
    position: absolute;
    top: -10px;
    background-color: #fff;
  }

  .ver-app__list {
    padding-top: 51px;
  }

  .ver-app__label {
    padding-left: 132px;

    &::before {
      left: 74px;
    }
  }
}
