@font-face {
  font-weight: light;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("fonts/opensanslight.woff2") format("woff2"), url("fonts/opensanslight.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("fonts/PTSansNarrow.woff2") format("woff2"), url("fonts/PTSansNarrow.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff") format("woff"); }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  background-color: #ffffff;
  min-width: 320px;
  position: relative; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: auto;
  padding: 0 20px; }

@media (min-width: 660px) {
  .container {
    width: auto;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .container {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto; } }

.page-main {
  background-color: #ffffff;
  color: #283645;
  margin: 0 auto;
  text-align: center;
  margin-top: -67px; }

.page-main__slogan {
  background-color: #ffffff;
  color: #283645;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  line-height: 30px;
  font-weight: 400;
  padding-top: 45px;
  padding-bottom: 49px; }

@media (min-width: 660px) {
  .page-main__slogan {
    font-size: 18px;
    width: 445px;
    padding-top: 92px;
    padding-bottom: 76px; } }

@media (min-width: 1200px) {
  .page-main {
    margin-top: -110px; }
  .page-main__slogan {
    width: 575px;
    padding-bottom: 88px; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #283645; }

.page-header__logo {
  height: 69px;
  text-align: left;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #283645;
  width: 74px;
  margin-left: 21px; }

.page-header__logo--mobile {
  fill: #ffffff;
  padding-top: 21px; }
  .page-header__logo--mobile:hover {
    fill: #d22856; }
  .page-header__logo--mobile:active {
    fill: #d22856;
    opacity: 0.3; }

.page-header__logo--tablet {
  display: none;
  fill: #ffffff; }
  .page-header__logo--tablet:hover {
    fill: #d22856; }
  .page-header__logo--tablet:active {
    fill: #d22856;
    opacity: 0.3; }

.page-header__logo--desktop {
  display: none;
  fill: #ffffff; }
  .page-header__logo--desktop:hover {
    fill: #d22856; }
  .page-header__logo--desktop:active {
    fill: #d22856;
    opacity: 0.3; }

@media (min-width: 660px) {
  .page-header__logo {
    height: 83px;
    width: 147px;
    padding-top: 27px; }
  .page-header__logo--mobile {
    display: none; }
  .page-header__logo--tablet {
    display: block; } }

@media (min-width: 1200px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    height: 110px;
    z-index: 3; }
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    position: relative;
    background-color: transparent; }
  .page-header__logo {
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    background-color: transparent; }
  .page-header__logo--mobile {
    display: none; }
  .page-header__logo--tablet {
    display: none; }
  .page-header__logo--desktop {
    display: block; } }

.main-nav {
  background-color: #283645;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.main-nav__toggle {
  outline: none;
  background: none;
  position: absolute;
  border: none;
  right: 37px;
  top: -49px; }
  .main-nav__toggle:hover .main-nav__toggle-icon {
    fill: #d22856;
    opacity: 1; }
  .main-nav__toggle:active .main-nav__toggle-icon {
    fill: #d22856;
    opacity: 0.3; }

.main-nav__toggle-icon {
  position: absolute;
  z-index: 2;
  display: block;
  background-color: rgba(40, 54, 69, 0);
  cursor: pointer;
  border: none;
  width: 23.867px;
  height: 23.867px;
  fill: #ffffff; }

@media (min-width: 660px) {
  .main-nav__toggle {
    top: -66px; } }

@media (min-width: 1200px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: inherit; }
  .main-nav--opened .main-nav__toggle {
    display: none; } }

.site-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.site-list__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 15px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center; }

.site-list__link[href]:hover, .site-list__link[href]:focus {
  color: #d22856;
  outline: none; }

.site-list__link[href]:active {
  color: #ffffff;
  opacity: 0.3;
  outline: none; }

@media (min-width: 1200px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 620px; }
  .site-list__item {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .site-list__link {
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
    border: none; }
    .site-list__link--active {
      position: relative; }
      .site-list__link--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 26px;
        left: 0;
        height: 2px;
        background: #ffffff; } }

.intro-index {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro-index {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 320px auto; } }
  .intro-index::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 290px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    top: 176px;
    right: 0; }

.intro-index__header {
  padding-top: 90px;
  padding-bottom: 315px; }

.intro-index__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
  width: 230px; }

.intro-index__app-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 14px 35px 17px 36px;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin-top: 28px; }
  .intro-index__app-link:hover, .intro-index__app-link:focus {
    background-color: #ffffff;
    color: #d22856;
    outline: none; }
  .intro-index__app-link:active {
    color: rgba(255, 81, 82, 0.3);
    outline: none; }

.intro-index__availability {
  color: #ffffff;
  width: 230px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px; }

@media (min-width: 660px) {
  .intro-index {
    background-color: #1d2631;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 729px;
    margin-top: -111px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .intro-index {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto; } }

@media (min-width: 660px) {
    .intro-index::after {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      width: 659px;
      height: 545px;
      top: 184px;
      right: 21px;
      z-index: 1; } }
    @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
      .intro-index::after {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto; } }

@media (min-width: 660px) {
  .intro-index__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .intro-index__wrapper {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 3; }
  .intro-index__header {
    background: none;
    padding-top: 202px;
    padding-bottom: 0;
    width: 300px; }
  .intro-index__slogan {
    font-size: 40px;
    line-height: 49px; }
  .intro-index__app-link {
    padding: 16px 45px;
    margin-top: 28px; }
  .intro-index__availability {
    font-size: 18px;
    width: 300px; } }

@media (min-width: 1200px) {
  .intro-index {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 854px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .intro-index {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover; } }

@media (min-width: 1200px) {
    .intro-index::after {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      width: 884px;
      height: 644px;
      top: 210px;
      right: 170px; } }
    @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
      .intro-index::after {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto; } }

@media (min-width: 1200px) {
  .intro-index__header {
    padding-top: 220px; }
  .intro-index__slogan {
    font-size: 50px;
    line-height: 59px;
    width: 238px; }
  .intro-index__app-link {
    font-size: 21px;
    line-height: 18px;
    padding: 15px 28px;
    margin-top: 53px; } }

.app {
  background-color: #1d2631;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.app__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 204px;
  padding-top: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 13px; }

@media (min-width: 660px) {
  .app {
    background: none; }
  .intro-index__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .app__list {
    padding-top: 46px;
    padding-bottom: 28px; } }

@media (min-width: 1200px) {
  .app__list {
    padding-top: 69px;
    padding-bottom: 47px; } }

.advantages {
  text-align: center; }

.advantages__slogan {
  padding-top: 40px; }

.advantages__question {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 30px; }

.advantages__answer {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  padding: 0; }

.advantages__wrapper {
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative; }
  .advantages__wrapper::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 278px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    top: 540px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-position: top center; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__wrapper::after {
        background-image: url("../img/iphone-screen-mobile@1x.png");
        background-size: 157px auto; } }

.advantages__list {
  padding-top: 114px;
  padding-bottom: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.advantages__item {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 31px; }

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 12px; }

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

@media (min-width: 660px) {
  .advantages__slogan {
    padding-top: 57px;
    padding-bottom: 26px; }
  .advantages__wrapper::after {
    content: "";
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    width: 270px;
    height: 481px;
    top: 26px;
    left: 155px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
    .advantages__wrapper::after {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto; } }

@media (min-width: 660px) {
  .advantages__question {
    font-size: 40px;
    padding-bottom: 10px; }
  .advantages__answer {
    font-size: 40px;
    width: 340px;
    line-height: 48px; }
  .advantages__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .advantages__list {
    padding-top: 95px;
    width: 310px;
    padding-bottom: 9px; }
  .advantages__item {
    text-align: left;
    width: 310px;
    margin: 0;
    padding-bottom: 34px; } }

@media (min-width: 1200px) {
  .advantages__slogan {
    padding-top: 84px; }
  .advantages__question {
    font-size: 50px;
    padding-bottom: 14px; }
  .advantages__answer {
    font-size: 50px;
    width: 420px;
    line-height: 60px; }
  .advantages__wrapper {
    margin-top: 53px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-size: cover;
    background-position: center -255px; }
    .advantages__wrapper::after {
      display: none; }
  .advantages__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 98%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 354px; }
  .advantages__title {
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    width: 221px;
    padding-bottom: 24px; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 282px;
    position: relative; }
  .advantages__item--mood::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    width: 287px;
    height: 303px;
    top: -358px;
    left: -5px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .advantages__item--mood::before {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto; } }

@media (min-width: 1200px) {
  .advantages__item--world::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    width: 287px;
    height: 303px;
    top: -358px;
    left: -2px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .advantages__item--world::before {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto; } }

@media (min-width: 1200px) {
  .advantages__item--friends::before {
    position: absolute;
    content: "";
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    width: 287px;
    height: 303px;
    top: -358px;
    left: -2px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .advantages__item--friends::before {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto; } }

@media (min-width: 1200px) {
  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    width: 240px; } }

.effect {
  display: none; }

.effect__time {
  display: none; }

@media (min-width: 660px) {
  .effect {
    display: block;
    background-color: #ffffff; }
  .effect__wrapper {
    width: 310px; }
  .effect__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .effect__time {
    display: block;
    font-size: 96px;
    line-height: 150px;
    font-weight: 700;
    color: #d22856;
    margin-top: 115px;
    margin-left: 19px;
    border: 13px solid #d22856;
    width: 176px;
    height: 168px;
    padding-top: 8px;
    border-radius: 50%;
    position: relative;
    /* &::before {
      position: absolute;
      content: "";
      width: 200px;
      height: 200px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
    } */ }
  .effect__title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    text-align: left;
    padding-top: 96px;
    width: 170px;
    line-height: 36px; }
  .effect__description {
    font-weight: 400;
    color: #283645;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 11px; }
  .effect__description--transfer-2 {
    display: none; }
  .effect__link {
    color: #d22856;
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: block; } }

@media (min-width: 1200px) {
  .effect {
    background-color: #f2f2f2; }
  .effect__title {
    line-height: 30px;
    padding-top: 117px;
    width: 300px; }
  .effect__title br {
    display: none; }
  .effect__wrapper {
    width: 574px; }
  .effect__time {
    font-size: 120px;
    margin-top: 92px;
    margin-left: 23px;
    border: 17px solid #d22856;
    width: 219px;
    height: 193px;
    padding-top: 27px;
    margin-bottom: 0; }
    .effect__time::before {
      position: absolute;
      content: "";
      width: 299px;
      height: 346px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      top: -86px;
      left: -39px; }
  .effect__description {
    font-size: 18px;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 0; }
  .effect__description--transfer-1 {
    display: none; }
  .effect__description--transfer-2 {
    display: inline; }
  .effect__link {
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 114px; } }

.feedback {
  background-color: #ffffff;
  color: #283645;
  text-align: center; }

.feedback__wrapper {
  width: 280px;
  margin: 0 auto; }

.feedback__list {
  margin-top: 42px;
  margin-bottom: 33px; }

.feedback__author-name {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 13px; }

.feedback__author-work {
  display: none; }

.feedback__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

.feedback__input-1--check:checked ~ .slider__list .slider__item-1,
.feedback__input-2--check:checked ~ .slider__list .slider__item-2,
.feedback__input-3--check:checked ~ .slider__list .slider__item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.feedback__input-1--check:checked ~ .slider__control label[for="feedback-1"],
.feedback__input-2--check:checked ~ .slider__control label[for="feedback-2"],
.feedback__input-3--check:checked ~ .slider__control label[for="feedback-3"] {
  background-color: transparent;
  border: 3px solid #283645;
  margin: 0 5px; }

.feedback__btn {
  display: none; }

@media (min-width: 660px) {
  .feedback__wrapper {
    width: 630px; }
  .feedback__list {
    margin-top: 21px; }
  .feedback__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feedback__author-name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 20px;
    line-height: 30px;
    padding-top: 35px;
    padding-bottom: 2px; }
  .feedback__text {
    font-size: 18px;
    line-height: 30px; }
  .feedback__author-work {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    line-height: 30px;
    font-weight: 400;
    margin: 0; } }

@media (min-width: 1200px) {
  .feedback__wrapper {
    width: 690px;
    position: relative; }
  .feedback__list {
    margin-top: 185px;
    position: relative; }
    .feedback__list::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      width: 81px;
      height: 66px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: -112px; }
  .feedback__author-name {
    font-size: 24px; }
  .feedback__author-work {
    font-size: 18px; }
  .slider__control {
    display: none; }
  .feedback__btn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .feedback__btn:hover, .feedback__btn:focus {
      outline: none; }
    .feedback__btn:active {
      outline: none; }
  .feedback__prev {
    position: absolute;
    top: 27px;
    left: -131px; }
  .feedback__next {
    position: absolute;
    top: 27px;
    right: -130px; }
  .feedback__icon {
    fill: #bec2c7; }
    .feedback__icon:hover, .feedback__icon:focus {
      fill: #7e868f;
      outline: none; }
    .feedback__icon:active {
      opacity: 0.1;
      outline: none; } }

.developers {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 31px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 131px;
  padding-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.developers__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645; }

.developers__logo-image {
  fill: #d22856; }

@media (min-width: 660px) {
  .developers {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14px;
    padding-top: 43px; } }

@media (min-width: 1200px) {
  .developers {
    width: 153px;
    margin-left: 0; }
  .developers__text {
    font-size: 18px; } }

.intro-photo {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro-photo {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 320px auto; } }

.intro-photo__slogan {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 83px;
  margin: 0 auto;
  line-height: 29px; }

@media (min-width: 660px) {
  .intro-photo {
    background-image: url("../img/bg-back-tablet@1x.jpg"); }
  .intro-photo__slogan {
    font-size: 50px;
    line-height: 59px;
    padding-top: 137px;
    padding-bottom: 141px; } }

@media (min-width: 1200px) {
  .intro-photo {
    background-size: cover; }
  .intro-photo__slogan {
    padding-top: 174px;
    width: 356px;
    padding-bottom: 102px; } }

.comment {
  background-color: #f2f2f2;
  width: 280px;
  text-align: left; }

.comment__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px; }

.comment__name {
  font-size: 14px;
  font-weight: 700;
  color: #283645;
  margin: 0;
  padding-left: 17px; }

.comment__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-left: 4px; }

.comment__text {
  font-weight: 400;
  margin: 0;
  padding-left: 17px; }

.comment__like {
  text-transform: uppercase;
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 20px 50px;
  position: relative; }
  .comment__like::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    top: 16px;
    left: 18px; }

@media (min-width: 660px) {
  .comment {
    width: 300px; }
  .comment__row {
    padding-top: 24px; }
  .comment__name {
    padding-left: 27px; }
  .comment__text {
    padding-left: 27px;
    width: 235px;
    height: 50px; }
  .comment__like {
    padding-top: 11px;
    padding-left: 27px;
    padding-bottom: 22px; }
    .comment__like::before {
      left: 256px; } }

.panorama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 20px; }

.panorama__title {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  background-color: #d22856;
  color: #ffffff;
  padding: 6px 20px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px; }

.panorama__image-wrapper {
  margin: 0;
  line-height: 0;
  width: 100%;
  height: auto; }

.panorama__image {
  width: 100%; }

@media (min-width: 660px) {
  .panorama {
    padding-bottom: 50px; }
  .panorama__title {
    top: 57px; }
  .panorama__image-wrapper {
    height: 509px; }
  .panorama__image {
    width: auto; }
  .panorama__comment {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .panorama__row {
    padding-top: 24px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .panorama__name {
    padding-left: 27px; }
  .panorama__text {
    padding-left: 27px;
    width: 515px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-bottom: 22px; }
  .panorama__like {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 25px;
    padding-right: 59px;
    padding-bottom: 0;
    padding-left: 0; }
    .panorama__like::before {
      top: 30px;
      left: 106px; } }

@media (min-width: 1200px) {
  .panorama__image-wrapper {
    height: 506px; }
  .panorama__comment {
    width: 940px; }
  .panorama__title {
    top: 54px;
    right: 130px; }
  .panorama__text {
    width: 870px;
    height: auto;
    padding-bottom: 22px; }
  .panorama__like {
    padding-right: 62px; } }

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.posts__list {
  padding-bottom: 42px; }

.posts__item {
  padding-bottom: 20px; }

.posts__item:last-child {
  padding-bottom: 0; }

.posts__slogan {
  padding-bottom: 50px;
  width: 280px;
  font-weight: 400;
  line-height: 30px;
  margin: 0; }

@media (min-width: 660px) {
  .posts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 45px; }
  .posts__slogan {
    font-size: 18px;
    width: 430px;
    padding-bottom: 69px; } }

@media (min-width: 1200px) {
  .posts__list {
    padding-bottom: 5px; }
  .posts__item {
    padding-bottom: 54px; } }

.post__image-wrapper {
  margin: 0;
  width: 280px;
  height: 180px; }

.post__image {
  width: 100%; }

@media (min-width: 660px) {
  .post__image-wrapper {
    height: 300px; }
  .post__image {
    width: auto;
    height: 100%; } }

@media (min-width: 1200px) {
  .post__image-wrapper {
    height: 400px;
    width: 300px; } }

.page-footer--disabled {
  display: none; }

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__logo {
  margin: 0 auto; }

.page-footer__logo-image--mobile {
  fill: #283645; }
  .page-footer__logo-image--mobile:hover {
    fill: #d22856; }
  .page-footer__logo-image--mobile:active {
    fill: #d22856;
    opacity: 0.3; }

.page-footer__logo-image--desktop {
  display: none;
  fill: #283645; }
  .page-footer__logo-image--desktop:hover {
    fill: #d22856; }
  .page-footer__logo-image--desktop:active {
    fill: #d22856;
    opacity: 0.3; }

@media (min-width: 660px) {
  .page-footer--disabled {
    display: block; }
  .page-footer {
    background-color: #ffffff;
    display: block;
    margin-top: 49px; }
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__logo {
    margin: 0; }
  .page-footer__logo--deactive {
    display: block; } }

@media (min-width: 1200px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 28px; }
  .page-footer__logo {
    margin-top: 0;
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: 0; }
  .page-footer__logo-image--mobile {
    display: none; }
  .page-footer__logo-image--desktop {
    display: block; } }

.intro-form {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -67px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro-form {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 320px auto; } }

.intro-form__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 53px;
  width: 280px;
  margin: 0 auto; }

@media (min-width: 660px) {
  .intro-form {
    background-color: #1d2631;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    margin-top: -111px; }
  .intro-form__slogan {
    font-size: 50px;
    line-height: 60px;
    padding-top: 180px;
    padding-bottom: 80px;
    width: 480px; } }

@media (min-width: 1200px) {
  .intro-form {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover; }
  .intro-form__slogan {
    padding-top: 174px;
    padding-bottom: 101px;
    width: 750px; } }

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  color: #283645; }

.forms__profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.forms__slogan {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  width: 280px;
  padding-top: 45px;
  padding-bottom: 17px;
  margin: 0 auto;
  color: #283645; }

.forms__slogan span {
  display: none; }

.forms__button {
  display: block;
  width: 280px;
  border: none;
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 17px;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 3px; }
  .forms__button:hover, .forms__button:focus {
    background-color: #1c9b5e;
    outline: none; }
  .forms__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
    outline: none; }

.forms__text-condition {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 55px; }

.forms__text-condition span {
  display: none; }

.forms__request {
  display: none; }

@media (min-width: 660px) {
  .forms__slogan {
    font-size: 18px;
    width: 500px;
    padding-top: 92px;
    padding-bottom: 71px; }
  .forms__slogan span {
    display: inline; }
  .forms__request {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    margin: 0;
    padding-bottom: 71px; }
  .forms__submit {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 67px; }
  .forms__button {
    margin: 0;
    width: 300px; }
  .forms__text-condition {
    padding: 0; } }

@media (min-width: 1200px) {
  .forms__profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 940px; }
  .forms__slogan br {
    display: none; }
  .forms__slogan {
    width: 764px; }
  .forms__submit {
    padding-top: 65px;
    padding-right: 0;
    padding-left: 0; }
  .forms__text-condition span {
    display: inline; } }

.form {
  border: 0;
  margin: 0;
  padding-bottom: 24px; }

.form__label {
  color: #d22856;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 22px;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 17px; }

.form__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  background-color: #f6f6f6;
  color: #283645;
  padding: 14px 20px 15px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 660px) {
  .form {
    padding-bottom: 6px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .form__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 52px; }
  .form__label {
    padding-left: 0;
    padding-right: 18px; } }

@media (min-width: 1200px) {
  .form {
    padding: 0;
    width: 435px; }
  .form__row {
    padding-bottom: 53px; } }

@media (min-width: 1200px) {
  .form {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; } }

.progress {
  border: 0;
  margin: 0;
  padding-bottom: 47px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.progress__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  color: #d22856;
  text-transform: uppercase;
  position: relative;
  top: 56px; }

.progress__list {
  width: 280px;
  margin: 0 auto;
  text-align: left;
  padding-top: 99px; }

.progress__item {
  padding-bottom: 52px; }

.progress__item:last-child {
  padding-bottom: 0; }

.progress__label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 52px; }

@media (min-width: 660px) {
  .progress {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border: 2px solid #e5e5e5;
    margin: 0 20px;
    background-color: #ffffff;
    padding-bottom: 43px; }
  .progress__title {
    width: 436px;
    margin-bottom: 48px;
    top: 0; }
  .progress__list {
    padding-left: 30px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px; }
  .progress__item {
    padding-bottom: 52px; } }

@media (min-width: 1200px) {
  .progress {
    margin: 0;
    padding-left: 0;
    padding-right: 0; }
  .progress__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 129px;
    padding-bottom: 0;
    padding-left: 51px;
    padding-right: 11px; }
  .progress__item {
    padding-bottom: 16px; }
  .progress__item:last-child {
    padding-bottom: 16px; }
  .progress__label {
    padding-left: 50px; } }

.communication {
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-top: 27px;
  padding-bottom: 12px; }

.communication__title {
  display: none; }

.communication__column {
  padding-bottom: 12px; }

.communication__label {
  color: #d22856;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 22px; }

.communication__input {
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  background-color: #f6f6f6;
  color: #283645;
  margin-bottom: 22px;
  padding: 14px 20px 15px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.communication__input:last-child {
  margin-bottom: 0; }

@media (min-width: 660px) {
  .communication {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    margin: 57px 20px 57px 20px;
    padding: 0 58px; }
  .communication__title {
    display: table;
    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 37px;
    width: 260px; }
  .communication__column {
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .communication__column:last-child {
    padding-bottom: 22px; }
  .communication__label {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 19px;
    padding-top: 4px; }
  .communication__label-up {
    display: none; }
  .communication__label-down {
    display: inline;
    color: #d22856;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 19px; }
  .communication__input {
    margin-bottom: 10px; } }

@media (min-width: 1200px) {
  .communication {
    margin-top: 3px;
    margin-right: 0;
    margin-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 57px; }
  .communication__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .communication__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .communication__label {
    padding-top: 15px;
    line-height: 15px; }
  .communication__title {
    margin-bottom: 34px; }
  .communication__input {
    width: 375px; }
  .communication__label-down:last-child {
    padding-bottom: 13px; } }

.ver-app {
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 46px;
  background-color: #f2f2f2; }

.ver-app__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 218px;
  margin: 0;
  color: #d22856;
  text-transform: uppercase;
  position: relative;
  top: 56px; }

.ver-app__list {
  text-align: left;
  padding-top: 95px; }

.ver-app__item {
  padding-bottom: 45px; }

.ver-app__item:last-child {
  padding-bottom: 0; }

.ver-app__label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 53px;
  color: #283645; }

@media (min-width: 660px) {
  .ver-app {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    margin: 0 20px; }
  .ver-app__title {
    width: 370px;
    top: 0; }
  .ver-app__list {
    padding-top: 48px;
    padding-bottom: 13px; }
  .ver-app__label {
    padding-left: 81px; } }

@media (min-width: 1200px) {
  .ver-app {
    margin: 0;
    padding: 0;
    width: 431px;
    height: 305px; }
  .ver-app__title {
    width: 367px; }
  .ver-app__list {
    padding-top: 51px; }
  .ver-app__label {
    padding-left: 117px; } }

.emotion {
  border: none;
  padding-bottom: 41px; }

.emotion__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 38px 0 17px 0;
  color: #d22856;
  text-transform: uppercase; }

.emotion__text {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 201px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 24px 14px 16px; }

@media (min-width: 660px) {
  .emotion {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border: 2px solid #e5e5e5;
    margin-top: 57px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding-left: 58px;
    padding-right: 66px;
    padding-bottom: 44px; }
  .emotion__title {
    padding: 0;
    width: 260px;
    margin-bottom: 37px; }
  .emotion__text {
    height: 193px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .emotion {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 36px; }
  .emotion__title {
    margin-bottom: 34px; }
  .emotion__text {
    height: 128px; } }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.modal-thanks {
  display: none;
  position: absolute;
  background-position: top center;
  top: 1926px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0 7px 7px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 7px -4px rgba(0, 0, 0, 0.15); }

.modal-thanks--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-thanks__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 13px 0 26px 0; }

.modal-thanks__text {
  font-size: 14px;
  font-weight: 400;
  color: #283645;
  margin: 0;
  padding: 0;
  width: 280px;
  padding-bottom: 31px; }

.modal-thanks__btn {
  background-color: #f2f2f2;
  width: 100%; }

.modal-thanks__close {
  display: block;
  width: 280px;
  border: none;
  padding: 0;
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 17px;
  text-transform: uppercase;
  margin: 48px auto 52px auto;
  border-radius: 3px; }
  .modal-thanks__close:hover, .modal-thanks__close:focus {
    background-color: #1c9b5e;
    outline: none; }
  .modal-thanks__close:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
    outline: none; }

@media (min-width: 660px) {
  .modal-thanks {
    top: 1639px;
    width: 462px; }
  .modal-thanks__title {
    font-size: 30px;
    line-height: 40px;
    padding-top: 34px;
    padding-bottom: 23px;
    width: 220px; }
  .modal-thanks__text {
    font-size: 18px;
    width: 310px;
    padding-bottom: 34px; }
  .modal-thanks__text br {
    display: none; }
  .modal-thanks__close {
    width: 300px; } }

@media (min-width: 1200px) {
  .modal-thanks {
    top: 1280px;
    width: 780px; }
  .modal-thanks__title {
    width: 400px; }
  .modal-thanks__text {
    width: 400px;
    padding-bottom: 39px; }
  .modal-thanks__close {
    width: 460px; } }

.modal-error {
  display: none;
  position: absolute;
  background-position: top center;
  top: 1425px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0 7px 7px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 7px -4px rgba(0, 0, 0, 0.15); }

.modal-error--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-error__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-right: 0;
  padding-bottom: 26px;
  padding-left: 0;
  padding-top: 40px; }

.modal-error__text {
  font-size: 14px;
  font-weight: 400;
  color: #283645;
  margin: 0 auto;
  padding: 0;
  width: 280px; }

.modal-error__close {
  display: block;
  width: 280px;
  border: none;
  padding: 0;
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 17px;
  margin-top: 38px;
  margin-bottom: 50px;
  border-radius: 3px;
  text-transform: uppercase; }
  .modal-error__close:hover, .modal-error__close:focus {
    background-color: #1c9b5e;
    outline: none; }
  .modal-error__close:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
    outline: none; }

@media (min-width: 660px) {
  .modal-error {
    width: 462px;
    top: 1166px; }
  .modal-error__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;
    width: 250px;
    padding-top: 34px;
    padding-bottom: 22px; }
  .modal-error__text {
    font-size: 18px;
    width: 300px; }
  .modal-error__close {
    margin-top: 38px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    width: 300px; } }

@media (min-width: 1200px) {
  .modal-error {
    width: 780px;
    top: 817px; }
  .modal-error__title {
    width: 338px;
    padding-top: 41px;
    padding-bottom: 24px; }
  .modal-error__text {
    width: 366px;
    padding-bottom: 61px; }
  .modal-error__btn {
    background-color: #f2f2f2;
    width: 100%; }
  .modal-error__close {
    margin-top: 47px;
    margin-bottom: 53px; } }

.slider__item {
  display: none; }

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 74px; }

.slider__control label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer; }
  .slider__control label:hover, .slider__control label:focus {
    background-color: #7e868f;
    outline: none; }
  .slider__control label:active {
    background-color: #e9ebec;
    outline: none; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 177px;
  padding-top: 33px; }

.social__link {
  display: block;
  text-align: center;
  background-color: transparent;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer; }
  .social__link:hover, .social__link:focus {
    border-color: #000000;
    outline: none; }
  .social__link:active {
    opacity: 0.3;
    outline: none; }

@media (min-width: 660px) {
  .social__list {
    padding-top: 11px; } }

/*# sourceMappingURL=style.css.map */
