@font-face {
  font-weight: light;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("fonts/opensanslight.woff2") format("woff2"), url("fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("fonts/PTSansNarrow.woff2") format("woff2"), url("fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  background-color: #ffffff;
  min-width: 320px;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: auto;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }
}
