@import "variables.scss";
@import "general.scss";
@import "blocks/page-main.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/intro-index.scss";
@import "blocks/app.scss";
@import "blocks/advantages.scss";
@import "blocks/effect.scss";
@import "blocks/feedback.scss";
@import "blocks/developers.scss";
@import "blocks/intro-photo.scss";
@import "blocks/panorama.scss";
@import "blocks/comment.scss";
@import "blocks/posts.scss";
@import "blocks/post.scss";
@import "blocks/page-footer.scss";
@import "blocks/intro-form.scss";
@import "blocks/forms.scss";
@import "blocks/form.scss";
@import "blocks/progress.scss";
@import "blocks/communication.scss";
@import "blocks/ver-app.scss";
@import "blocks/emotion.scss";
@import "blocks/modal.scss";
@import "blocks/modal-thanks.scss";
@import "blocks/modal-error.scss";
